.inputs{
  background-color:#f3eee8
}

.main-space{
  background-color: #ebf5ea
}

label {
  text-align: left;
}

.created{
  display: flex;
  justify-content:space-between;
}

#sign_up{
  width: 85%;
  margin-left: 1.5em; 
}
