body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans','Courier monospace', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #f1b0c0 0%, #7edaff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}